<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset your password?</h1>
    <p>
      If you requested a password reset for @<%= @name %>,<br />
      click the button below. If you didn't make this request,<br />
      ignore this email. <br />
    </p>
    <%= @url %>
    </a>
  </body>
</html>